.prompt-bg{
  background-color: rgba(121, 121, 121, 0.2);
  height: 100vh;
  margin: 0 auto;
}

.prompt-bg-inner{
  position: absolute;
  left: 36%;
  top: 40%;
}

.hide{
  display: none;
}

.show-container{
  display: -webkit-box;
}

#userContainer{
  width: 20%;
}

.users-container{
  display: grid;
}


.msg-box{
  width: 72vw;
  height: 400px;
  background-color: rgba(128, 128, 128, .2);
}
